.roadmapC{
  background-image: url(../../images/roadmap-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right
}
.roadmapC .inner{
  width: 90%;
  margin: auto
}