.teamImages {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 55px;
}
.taskImages {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.teamImages img{
  width: 200px;
  height: auto;
  max-width: 100%;
}

.taskImages img{
  width: 230px;
  height: auto;
  max-width: 100%;
}

.teamC .team{
  
  background-image: url(../../images/team-img.png);
  background-size: 90%;
  background-position: top;
  background-repeat: no-repeat;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 146px;
  padding-bottom: 200px;
}

.teamC .task{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.task .text-area{
  width: 50%;
  margin: auto;
  margin-bottom: 53px;
}

.teamImages .setHeight{
  height: 130px
}


@media only screen and (max-width: 991px){
  .teamC .team {
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 157px;
  }
  .teamImages img {
    width: 85px
  }
}