.teamC{
  background-image: url(../../images/team-img.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.teamImages img{
  width: 200px;
  height: auto;
  max-width: 100%;
}

.taskImages img{
  width: 230px;
  height: auto;
  max-width: 100%;
}