.slider-container{
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  column-gap: 20px;
}

.sliderC{
  width: 550px;
  height: 629px;
  background-color: rgba(19, 19, 19, 1);
  padding: 30px;
  border-radius: 20px;
  animation-name: sliderAnimation;
  animation-timing-function: ease;
  animation-duration: 10s;
  animation-iteration-count: 10;
 
}
.sliderC p{
  font-size: 20px;
}
.sliderC img{
  margin-bottom: 34px;
  float: right;
}



@keyframes sliderAnimation {
  from{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-550px);
  }
  to{
    transform: translateX(-1100px);
  }
}