.slider-container{
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  column-gap: 20px;
}

.sliderC{
  width: 550px;
  height: 629px;
  background-color: rgba(19, 19, 19, 1);
  padding: 30px;
  border-radius: 20px;
  animation-name: sliderAnimation;
  animation-timing-function: ease;
  animation-duration: 40s;
  animation-iteration-count: 10;
 
}
.sliderC p{
  font-size: 20px;
}
.sliderC img{
  margin-bottom: 34px;
  float: right;
}



@keyframes sliderAnimation {
  from{
    transform: translateX(0);
  }
  10%{
    transform: translateX(-505px);
  }
  20%{
    transform: translateX(calc(-505*2px));
  }
  30%{
    transform: translateX(calc(-505*3px));
  }
  40%{
    transform: translateX(calc(-505*4px));
  }
  50%{
    transform: translateX(calc(-505*5px));
  }
  60%{
    transform: translateX(calc(-505*6px));
  }
  70%{
    transform: translateX(calc(-505*7px));
  }
  80%{
    transform: translateX(calc(-505*8px));
  }
  90%{
    transform: translateX(calc(-505*9px));
  }
  to{
    transform: translateX(calc(-505*10px));
  }
}