.aboutC{
  padding-top: 123px;
  padding-bottom: 183px;
}
.aboutC .setbg{
  background-image: url(../../images/about-bg.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
}
.aboutC .inner{
  width: 90%;
  margin: auto;
  position: relative;
}
.aboutBottom .inner{
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}


@media only screen and (max-width: 991px){
  .aboutC .setbg{
    background-size: 100%;
    height: 360px;
    background-position: top;
  }
  .aboutC{
    padding-bottom: 80px;
  }
}