.partnerC{
  background-image: url(../../images/partners-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.partnerC img{
  max-width: 100%;
}