.partnerC{
  background-image: url(../../images/partners-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.partnerC img{
  max-width: 100%;
  width: 310px;
  background: #a3a4a6;
border-radius: 25px;
padding: 10px 20px;
margin-bottom: 30px;
}

.partnerC h1{
  margin-top: 78px;
  margin-bottom: 54px;
}