@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-UltraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Extrabold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Heavy.ttf);
  font-weight: 900;
}
@font-face {
  font-family: gilroy;
  src: url(./fonts/Gilroy-Black.ttf);
  font-weight: 1000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}


.row{
  margin: 0;
  padding: 0
}
body{
  background: black;
  font-family: gilroy;
}

h1{
  font-size: 100px;
  line-height: 123px;
  background: -webkit-linear-gradient(271deg, rgba(255, 0, 229, 1) 0%, rgba(85, 206, 232, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
h2{
  font-size:80px;
  line-height: 99px;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;

}
h3{
  font-size:50px;
  font-weight: 900;
  line-height: 63px;
}
h4{
  font-size:36px;
  font-weight: 900;
  line-height: 45px;
}



p{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
b{
  font-size: 30px;
  font-weight: normal;
  line-height: 37px;
}
small{
  font-size: 16px;
  line-height: 19px;
}
button {
  font-size: 24px;
  line-height: 29px;
}

/* .g1{
  background: -webkit-linear-gradient(271deg, rgba(255, 0, 229, 1) 0%, rgba(85, 206, 232, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


 /* ---------------------- Responsive ------------------------  */
@media only screen and (max-width: 991px){
  .hideInMobile{
    display:none
  }
  .nav-icon{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    font-size: 1.75rem;
    line-height: 40px;
  }
  h2{
    font-size: 1.5rem;
    line-height: 36px;
  }
  h3{
    font-size: 1.25rem;
    line-height: 30px;
  }
  h4{
    font-size: 0.87rem;
    line-height: 21px;
  }
  li{
    font-size: 0.87rem;
    line-height: 34px;
    font-weight: 600;
  }
  p{
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: normal;
  }
}



@media only screen and (min-width: 992px){
  .hideInDesktop{
    display:none
  }
}