@font-face {
  font-family: gilroy-bold;
  src: url(./fonts/gilroy-bold.otf);
}
@font-face {
  font-family: gilroy-light;
  src: url(./fonts/gilroy-light.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
h1, h2, h3, h4, h5, h6, b{
  font-family: 'gilroy-bold', sans-serif;
}
p, li, div{
  font-family: 'gilroy-light', sans-serif;
}
.row{
  margin: 0;
  padding: 0
}
body{
  background: black;
}

h1{
  font-size: 100px;
  line-height: 123px;
  background: -webkit-linear-gradient(271deg, rgba(255, 0, 229, 1) 0%, rgba(85, 206, 232, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  font-size:80px;
  line-height: 99px;
  text-align: center;
  letter-spacing: 0.03em;
}
h3{
  font-size:50px;
  font-weight: 700;
  line-height: 63px;
}
h4{
  font-size:36px;
  font-weight: 700;
  line-height: 45px;
}



p, a{
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 2.8px;
}
b{
  font-size: 30px;
  font-weight: normal;
  line-height: 37px;
}
small{
  font-size: 16px;
  line-height: 19px;
}
button {
  font-size: 24px;
  line-height: 29px;
}

/* .g1{
  background: -webkit-linear-gradient(271deg, rgba(255, 0, 229, 1) 0%, rgba(85, 206, 232, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


 /* ---------------------- Responsive ------------------------  */
@media only screen and (max-width: 991px){
  .hideInMobile{
    display:none
  }
  .nav-icon{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1{
    font-size: 1.75rem;
    line-height: 40px;
  }
  h2{
    font-size: 1.5rem;
    line-height: 36px;
  }
  h3{
    font-size: 1.25rem;
    line-height: 30px;
  }
  h4{
    font-size: 0.87rem;
    line-height: 21px;
  }
  li{
    font-size: 0.87rem;
    line-height: 34px;
    font-weight: 600;
  }
  p{
    font-size: 0.75rem;
    line-height: 20px;
    font-weight: normal;
  }
}



@media only screen and (min-width: 992px){
  .hideInDesktop{
    display:none
  }
}